<div class="container" style="background-color: rgb(17, 24, 39)">
  <div class="xl:flex sm:flex sm:flex-row">
    <div class="xl:flex-1 text-gray-500 text-center px-4 py-2 m-2">
      <p class="font-bold">SC METALBAC INTERNATIONAL SRL</p>
      <p>Sediu social, Str. Medgidiei Bl.H4, Ap.41, Cernavoda</p>
      <p>IBAN: RO21BTRL01401202F95498XX</p>
    </div>
    <div class="xl:flex-1 text-gray-500 text-center px-4 py-2 m-2">
      <p class="font-bold">CIF: RO22250504</p>
      <p class="font-bold">Tel. +40.731.00.4214</p>
      <p class="font-bold">Fax. +40.341.780.125</p>
    </div>
    <div class="flex-1 text-gray-500 text-center px-4 py-2 m-2">
      <p class="font-bold">Nr. ord. reg. com: j13/2684/2007</p>
      <div class="flex justify-center">
        <p class="pr-1">E-mail:</p>
        <p class="font-bold">office@handokromania.ro</p>
      </div>
    </div>
  </div>
</div>
