<div class="mx-auto" style="height: 100v">
  <div class="container mx-auto pt-2">
    <header
      class="text-center font-bold text-xl bg-blue-700 text-white p-2 rounded-md"
    >
      <h1>Despre Societatea Noastra</h1>
    </header>
    <section class="bg-white p-4 rounded-md shadow-lg">
      <p class="mb-4 pl-2">
        Societatea noastra a fost infiintata in anul 2007 avand ca obiect de
        activitate comercializarea produselor si accesoriilor pentru marcaj
        rutiere.
      </p>
      <p class="mb-4 pl-2">
        Suntem unici importatori ai producatorul coreean
        <strong>HANDOK AIRLESS</strong> , unul din mari jucatori in domeniul
        productiei de <strong>pompe airless</strong> si accesorii pentru
        vopsitorii, si ai producatorului de controllere (sisteme de spatiere
        automate) pentru marcaje rutiere, <strong>NOVO INNOVATION</strong> .
      </p>
      <p class="mb-4 pl-2">
        Gama de produse include <strong>pompe airless</strong> si
        <strong>bi component</strong> pentru toate tipurile de vopsele, pistoale
        manuale si automate pentru executia de marcaje rutiere si a altor tipuri
        de vopsitorii.
      </p>
      <p class="mb-4 pl-2">
        Din gama de produse se remarca pistoalele pentru aplicatii cu vopsea bi
        component atat cu amestecare interna si externa.
      </p>
      <p class="mb-4 pl-2">
        Au inclus in fabricatie si pistoalele automate pentru microbile de
        sticla care se remarca prin fiabilitate si durata lunga de viata putand
        fi utilizate pentru toate tipurile de microbile de sticla.
      </p>
      <p class="mb-4 pl-2">
        Putem oferii solutii complete pentru automatizari in cazul masinilor de
        marcaj rutier precum si inlocuirea diverselor parti sau accesorii.
      </p>
      <p class="mb-4 pl-2">
        Avem solutii pentru diverse sisteme automate de spatiere, putem adapta
        sistemele atat la repartizatoarele de asfalt cat si la frezele pentru
        curatarea marcajelor rutiere discontinue.
      </p>
      <p class="mb-4 pl-2">
        Oferim si encodere pentru masurarea distantelor parcurse, care se pot
        conecta la roata masinii sau la cutia de viteze, pentru a reda cat mai
        corect viteza si distanta parcursa.
      </p>
      <p class="mb-4 pl-2">
        In cooperare cu producatorul coreean putem oferi solutii tehnice
        complexe pentru toate tipurile de masini pentru marcaje rutier.
      </p>
      <p class="mb-4 pl-2">
        Suntem dedicati sistemelor airless si putem furniza toate tipurile de
        accesorii in timp util fara a afecta activitatea clientilor nostri.
      </p>
      <p class="mb-4 pl-2">
        Pentru gama de sistem de spatiere oferim solutii de la automatizarea
        procesului de marcaj rutier incepand de la un singur pistol de vopsea
        pana la 6 pistoale de vopsea si 6 de microbila.
      </p>
      <p class="mb-4 pl-2">
        Garantam pentru produsele noastre si va asiguram ca puteti avea ultimele
        noutati in domeniul marcajelor rutiere.
      </p>
    </section>
  </div>
  <!-- <img [src]="'assets/img/prezentare firma-1.png'" alt="Photo" /> -->
</div>
